# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [87]:
# Libraries
import mysql
import pandas as pd 
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [13]:
import mysql
import pandas as pd 
import numpy as np

In [33]:
# Path to the sql database file
db_path = 'C:/Users/hilu1/ironhack/week3/lab-advanced-pandas/your-code/data/Admission_Predict.csv'

In [36]:
#import our dataframes 
Admission = pd.read_csv(db_path)
Admission.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [42]:
db_path = 'C:/Users/hilu1/ironhack/week3/lab-advanced-pandas/your-code/data/Admission_Predict.csv'
Admission = pd.read_csv(db_path)
Admission.head()
Admission.columns = Admission.columns.str.strip()
Admission.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Let's evaluate the dataset by looking at the `head` function.

In [43]:
# your code here
print(Admission.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0           1        337          118                  4  4.5  4.5  9.65
1           2        316          104                  3  3.0  3.5  8.00
2           3        322          110                  3  3.5  2.5  8.67
3           4        314          103                  2  2.0  3.0  8.21
4           5        330          115                  5  4.5  3.0  9.34

   Research  Chance of Admit
0         1             0.92
1         1             0.72
2         1             0.80
3         0             0.65
4         1             0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [49]:
# your code here
missing_data = Admission.isnull().sum()
print("Missing Data:\n", missing_data)

Missing Data:
 Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [51]:
# your code here
missing_data = Admission.isnull().sum()
print("Missing Data:\n", missing_data)
# Check if there are any missing values in the entire dataset
if missing_data.sum() == 0:
    print("\nNo missing data found.")
else:
    print("\nThere are missing values in the dataset.")

Missing Data:
 Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

No missing data found.

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [53]:
# Path to the CSV file
file_path = 'C:/Users/hilu1/ironhack/week3/lab-advanced-pandas/your-code/data/Admission_Predict.csv'

# Reading the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Check for duplicates based on "GRE Score" and "CGPA"
duplicates = df[df.duplicated(subset=['GRE Score', 'CGPA'], keep=False)]

# Display any duplicate rows found
if duplicates.empty:
    print("No duplicate rows based on 'GRE Score' and 'CGPA'.")
else:
    print("Duplicate rows based on 'GRE Score' and 'CGPA':")
    print(duplicates)

No duplicate rows based on 'GRE Score' and 'CGPA'.

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [55]:
# Path to the CSV file
file_path = 'C:/Users/hilu1/ironhack/week3/lab-advanced-pandas/your-code/data/Admission_Predict.csv'

# Reading the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Set index to 'GRE Score' and 'CGPA', and remove these columns
df.set_index(['GRE Score', 'CGPA'], inplace=True)

# Display the updated DataFrame
print(df.head())

                Serial No.  TOEFL Score  University Rating  SOP  LOR   \
GRE Score CGPA
337       9.65           1          118                  4  4.5   4.5
316       8.00           2          104                  3  3.0   3.5
322       8.67           3          110                  3  3.5   2.5
314       8.21           4          103                  2  2.0   3.0
330       9.34           5          115                  5  4.5   3.0

                Research  Chance of Admit
GRE Score CGPA
337       9.65         1              0.92
316       8.00         1              0.72
322       8.67         1              0.80
314       8.21         0              0.65
330       9.34         1              0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [56]:
# Path to the CSV file
file_path = 'C:/Users/hilu1/ironhack/week3/lab-advanced-pandas/your-code/data/Admission_Predict.csv'

# Reading the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Count the number of rows where CGPA > 9 and Research == Yes
condition = (df['CGPA'] > 9) & (df['Research'] == 'Yes')
num_rows = len(df[condition])

# Print the number of rows satisfying the condition
print(f"Number of rows where CGPA > 9 and Research == Yes: {num_rows}")

Number of rows where CGPA > 9 and Research == Yes: 0

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [77]:
# Path to the CSV file
file_path = 'C:/Users/hilu1/ironhack/week3/lab-advanced-pandas/your-code/data/Admission_Predict.csv'

# Reading the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Count the number of rows where CGPA > 9 and Research == Yes
condition = (df['CGPA'] > 9) & (df['Research'] == 'Yes')
num_rows = len(df[condition])

# Print the number of rows satisfying the condition
print(f"Number of rows where CGPA > 9 and Research == Yes: {num_rows}")

# Display the filtered DataFrame and mean chance of admit
print("Rows where CGPA > 9 and SOP < 3.5:")
print(filtered_df)

print("\nMean chance of admit for these applicants:", mean_chance_of_admit)

Number of rows where CGPA > 9 and Research == Yes: 0
Rows where CGPA > 9 and SOP < 3.5:
     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
28           29        338          118                  4  3.0   4.5  9.40
62           63        327          114                  3  3.0   3.0  9.02
140         141        326          114                  3  3.0   3.0  9.11
217         218        324          111                  4  3.0   3.0  9.01
381         382        325          107                  3  3.0   3.5  9.11

     Research  Chance of Admit
28          1              0.91
62          0              0.61
140         1              0.83
217         1              0.82
381         1              0.84

NameError: name 'mean_chance_of_admit' is not defined

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [66]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
import numpy as np

def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    mean = np.mean(col)
    std_dev = np.std(col)
    standardized_col = (col - mean) / std_dev
    return standardized_col

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [81]:
# Path to the CSV file
file_path = 'C:/Users/hilu1/ironhack/week3/lab-advanced-pandas/your-code/data/Admission_Predict.csv'

# Reading the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Count the number of rows where CGPA > 9 and Research == Yes
condition = (df['CGPA'] > 9) & (df['Research'] == 'Yes')
num_rows = len(df[condition])

# Print the number of rows satisfying the condition
print(f"Number of rows where CGPA > 9 and Research == Yes: {num_rows}")

#Apply standardization and create new columns

admissions_df['CGPA_std'] = standardize(admissions_df['CGPA'])
admissions_df['GRE_std'] = standardize(admissions_df['GRE Score'])
admissions_df['LOR_std'] = standardize(admissions_df['LOR'])

# Step 5: Display the updated DataFrame to verify
print(admissions_df.head())

Number of rows where CGPA > 9 and Research == Yes: 0

KeyError: 'LOR'

We will generate the decision choice at random using the code below. Please run the cell.

In [88]:
# Libraries
from random import choices
import mysql
import pandas as pd 
import numpy as np

In [90]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

NameError: name 'admissions' is not defined

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [91]:
 Assuming `decision_choice` is defined or accessible as a lookup function

# Example of a lookup function
def decision_choice(cgpa_std, gre_std, lor_std):
    if cgpa_std > 0.8 and gre_std > 0.8 and lor_std > 0.8:
        return 'Accept'
    else:
        return 'Reject'

# Step 1: Define the lookup function
def decide_application(row):
    return decision_choice(row['CGPA_std'], row['GRE_std'], row['LOR_std'])

# Step 2: Apply the lookup function to create deciding_column
admissions_df['deciding_column'] = admissions_df.apply(decide_application, axis=1)

# Display the updated DataFrame
print(admissions_df.head())

SyntaxError: invalid syntax (1558504587.py, line 1)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here